:root {
  --main-txt-cl: #434455;
  --dark-txt-cl: #2e2f42;
  --accent-txt-cl: #e7e9fc;
  --light-txt-cl: #f4f4fd;

  --success-cl: rgb(49, 208, 170);
  --succes-75-cl: rgba(49, 208, 170, 0.75);
  --succes-50-cl: rgba(49, 208, 170, 0.5);
  --succes-10-cl: rgba(49, 208, 170, 0.1);

  --pressed-state-cl: #404bbf;
  --primary-brand-cl: #4d5ae5;

  --main-bg-cl: #fff;
  --dark-bg-cl: #2e2f42;
  --light-bg-cl: #f4f4fd;
  --accent-bg-cl: #e7e9fc;
  --subtle-txt-cl: #8e8f99;
}

/* global styles */
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-txt-cl);
  background-color: var(--main-bg-cl);
}

/* base styles */
.link {
  text-decoration: none;
}

.logo:hover,
.logo:focus {
  color: var(--pressed-state-cl);
}

.header-link:hover,
.header-link:focus {
  color: var(--pressed-state-cl);
}

.header-contact-link:hover,
.header-contact-link:focus {
  color: var(--pressed-state-cl);
}

.list {
  list-style-type: none;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  color: var(--dark-txt-cl);
}

.undertitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--dark-txt-cl);
}

/* header */
.link.current {
  color: var(--pressed-state-cl);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-cl);
}

.logo-dark {
  color: var(--dark-txt-cl);
}

.header-link {
  font-weight: 500;
  color: var(--dark-txt-cl);
}

.header-contact-link {
  font-style: normal;
  color: var(--main-txt-cl);
}

/* hero section */
.hero-section {
  background-color: var(--dark-bg-cl);
}

.hero-heading {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: var(--main-bg-cl);
}

.btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--main-bg-cl);
  background-color: var(--primary-brand-cl);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.btn:hover,
.btn:focus {
  color: var(--main-bg-cl);
  background-color: var(--pressed-state-cl);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  cursor: pointer;
}

/* sections */
.team-section {
  background-color: var(--light-bg-cl);
}

.team-container {
  background-color: var(--main-bg-cl);
}

/* footer */
.footer {
  color: var(--accent-txt-cl);
  background-color: var(--dark-bg-cl);
}

.footer-logo-light {
  color: var(--light-txt-cl);
}

/* portfolio  */
.portfolio-filter-btn {
  color: var(--primary-brand-cl);
  background-color: var(--light-bg-cl);
  border: 1px solid var(--accent-bg-cl);
}

.portfolio-filter-btn:hover,
.portfolio-filter-btn:focus {
  color: var(--main-bg-cl);
  background-color: var(--pressed-state-cl);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.portfolio-link {
  text-decoration: none;
  color: var(--main-txt-cl);
}
